<!DOCTYPE html>
<html>

<head>
  <title>Add Product</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: cornsilk;
    }

    h1 {
      margin: 0;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }

    .btn-primary {
      background-color: #333;
      border-color: #333;
    }

    .btn-primary:hover {
      background-color: #222;
      border-color: #222;
    }
  </style>
</head>

<body>
  <%- include('../partials/adminnavbar.ejs', { user : user}) %>
    <h3 style="text-align: center; padding: 5px;"> Add Product</h3>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form method="post" action="/admin/addproduct" enctype="multipart/form-data">
              <div class="form-group">
                <label for="product-name">Product Name:</label>
                <input type="text" class="form-control" name="pname" placeholder="Enter product name" required>
              </div>
              <div class="form-group">
                <label for="product-description">Product Description:</label>
                <textarea class="form-control" name="pdetails" rows="3" placeholder="Enter product description"
                  required></textarea>
              </div>
              <div class="form-group">
                <label for="product-price">Product Price:</label>
                <input type="number" class="form-control" name="pprice" placeholder="Enter product price" required>
              </div>
              <div class="form-group">
                <label for="product-price">Product Quantity:</label>
                <input type="number" class="form-control" name="pquantity" placeholder="Enter product price" required>
              </div>
              <div class="form-group">
                <label for="product-image">Product Image:</label>
                <input type="file" class="form-control-file" name="pimage" required>
              </div>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
          </div>
        </div>
      </div>
    </main>
</body>

</html>